---
import "../styles/variables.css";
import "../styles/components.css";
import "../styles/setup.css";
import "../styles/game.css";
import "../styles/results.css";
import "../styles/responsive.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Vocab Flashcards</title>
  </head>
  <body>
    <slot />
  </body>
</html>
